.wow {
	visibility: hidden;
}
.do-site-name *, .do-nav-m-ul li a, .do-nav-m-ul .icon-isSub:before {
	color: rgb(91, 91, 91);
}

#do-m-menustate:checked ~ .do-nav-m .do-nav-m-title, #do-m-menustate ~
	.do-nav-m .do-nav-m-title {
	background-color: rgb(255, 255, 255) !important;
}

.do-nav-m-ul>li>a, .do-nav-m-ul>li>ul {
	border-bottom-color: rgb(235, 235, 235);
}

.do-nav-m-bar {
	background-color: rgb(255, 255, 255) !important;
}

.do-nav-m .do-nav-page-name {
	color: rgb(55, 55, 55);
}

.do-m-menu-btn span {
	background-color: rgb(55, 55, 55) !important;
}

.do-nav-m-ul li a {
	font-size: 14px;
}

.do-nav-m .do-site-name img {
	height: 30px;
}
.do-677yu .do-middle-center img {
	width: 35%;
}
#banner_63835_0>.do-area-bg .do-area-bg-conter {
	background-attachment: initial;
}

#banner_63835_0 .do-row-one, #banner_63835_0 .do-element-text {
	color: rgb(255, 255, 255);
}

#area_63835_0 .do-area-bg-conter {
	
}

#area_63835_0 .do-row-one, #area_63835_0 .do-element-text {
	
}

#area_63835_0 .do-area-bg-conter:before {
	
}

#footer_63835_0 .do-row-one, #footer_63835_0 .do-element-text {
	color: rgb(204, 204, 204);
}

#footer_63835_0>.do-area-bg .bgcolor {
	background-color: rgb(50, 50, 51);
}
.z-nav {
	text-align: right;
}

.z-nav.en a em {
	color: rgb(77, 75, 75);
	font-size: 13px;
}

.z-nav-conter>li.active>a, .z-nav-conter>li:hover>a {
	background-color: rgba(255, 255, 255, 0);
	color: rgb(54, 217, 203);
}

.z-nav-conter>li:hover>a {
	background-color: rgba(255, 255, 255, 0);
	color: rgb(54, 217, 203);
}
.z-nav-conter>li {
	padding: 0 40px !important;
	magrin-bottom: -10px;
}

.z-nav-conter>li>a {
	border-bottom: 2px solid transparent;
	padding-left: 0;
	padding-right: 0;
}

.z-nav-conter>li.active>a, .z-nav-conter>li>a:hover {
	border-bottom: 2px solid #36d9cb
}
.do-text-67iii .do-element-general {
	margin: 0px 0px -20px 0px;
}
.do-6g0oo .do-element-share-content .do-share-icon {
	font-size: 25px;
}

.do-6g0oo .do-element-share-content .do-share-title {
	color: rgb(67, 71, 72);
}

.do-6g0oo .do-element-share-content .do-share-title {
	font-size: 16px;
}

.do-6g0oo .do-element-share-content .do-share-li {
	margin-right: 7px;
}
.do-67ii9 .do-element-forms .do-form-item {
	width: 100%;
}
body .do-developers, .do-developers {
	color: #666 !important;
	width: 100% !important;
	height: 38px !important;
}

body .do-developers a, .do-developers a {
	color: #666 !important;
	display: inline-block !important;
}

body .do-developers a:hover, .do-developers a:hover {
	color: #000 !important;
}

body .do-developers, .do-developers {
	display: block !important;
	border-top: 1px solid #ecebeb !important;
	background: #f3f3f3 !important;
	padding: 12px !important;
	text-align: center !important;
	font-size: 13px !important;
	line-height: 100% !important;
	opacity: 1 !important;
	text-indent: 0 !important
}

body .do-developers i, .do-developers i {
	font-size: 13px !important;
	vertical-align: middle;
	position: relative;
	top: -1px
}

body .do-developers *, .do-developers * {
	opacity: 1 !important;
	text-indent: 0 !important;
	display: inline-block !important;
}