
.wow {
	visibility: hidden;
}

.swiper-pagination .swiper-pagination-bullet {
	margin-bottom: 20px;
}

.do-swiper .swiper-button-next, .do-swiper .swiper-button-prev {
	margin-left: 2%;
}

.do-swiper .swiper-button-next, .do-swiper .swiper-button-prev {
	margin-right: 2%;
}

.do-site-name *, .do-nav-m-ul li a, .do-nav-m-ul .icon-isSub:before {
	color: rgb(91, 91, 91);
}

#do-m-menustate:checked ~ .do-nav-m .do-nav-m-title, #do-m-menustate ~
	.do-nav-m .do-nav-m-title {
	background-color: rgb(255, 255, 255) !important;
}

.do-nav-m-ul>li>a, .do-nav-m-ul>li>ul {
	border-bottom-color: rgb(235, 235, 235);
}

.do-nav-m-bar {
	background-color: rgb(255, 255, 255) !important;
}

.do-nav-m .do-nav-page-name {
	color: rgb(55, 55, 55);
}

.do-m-menu-btn span {
	background-color: rgb(55, 55, 55) !important;
}

.do-nav-m-ul li a {
	font-size: 14px;
}

.do-nav-m .do-site-name img {
	height: 30px;
}

#banner_63648_0>.do-area-bg .bgcolor, #banner_63648_0 .fp-tableCell>.do-area-bg .bgcolor
	{
	background-color: rgba(0, 0, 0, 0.6);
}

.lt-ie9 #banner_63648_0>.do-area-bg .bgcolor, #banner_63648_0 .fp-tableCell>.do-area-bg .bgcolor
	{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#99000000)
}

#area_63648_2>.do-area-bg .bgcolor {
	background-color: rgb(219, 214, 214);
}

#area_63648_4>.do-area-bg .bgcolor {
	background-color: rgb(242, 242, 242);
}

#footer_63648_0 .do-row-one, #footer_63648_0 .do-element-text {
	color: rgb(204, 204, 204);
}

#footer_63648_0>.do-area-bg .bgcolor {
	background-color: rgb(50, 50, 51);
}

.z-nav {
	text-align: right;
}

.z-nav.en a em {
	color: rgb(77, 75, 75);
	font-size: 13px;
}

.z-nav-conter>li.active>a, .z-nav-conter>li:hover>a {
	background-color: rgba(255, 255, 255, 0);
	color: rgb(54, 217, 203);
}

.z-nav-conter>li:hover>a {
	background-color: rgba(255, 255, 255, 0);
	color: rgb(54, 217, 203);
}

.z-nav-conter>li {
	padding: 0 40px !important;
	magrin-bottom: -10px;
}

.z-nav-conter>li>a {
	border-bottom: 2px solid transparent;
	padding-left: 0;
	padding-right: 0;
}

.z-nav-conter>li.active>a, .z-nav-conter>li>a:hover {
	border-bottom: 2px solid #36d9cb
}

.ly-dtxg {
	padding: 0
}

.ly-dtxg .title-name-conter:after {
	content: "";
	display: block;
	height: 2px;
	width: 30px;
	transition: all 0.3s ease-out;
	background-color: #36d9cb;
	margin-top: 8px;
}

.ly-dtxg:hover .title-name-conter:after {
	width: 100%
}

.do-66yyx .do-element-media-conter {
	background-color: rgb(88, 85, 83);
	padding: 10px 10px 20px 10px;
}

.do-66yyx .do-middle-center img {
	width: 35%;
}

.do-66yyx .do-title .title {
	font-size: 18px;
	line-height: 1.50em;
	text-align: left;
	color: rgb(255, 255, 255);
}

.do-66yyx .do-title .des {
	font-size: 14px;
	line-height: 1.50em;
	text-align: left;
	color: #fff;
}

.do-66yyx .do-element-media-conter {
	padding: 0px 0px 20px 0px;
}

.ly-dt .do-title-body {
	width: 80%;
	margin: 0 auto;
}

.ly-dt .do-66yyx .do-element-media-conter:hover {
	background-color: #4bacc7;
}

.ly-dt .fr-dib {
	height: 1px;
}

.ly-zxxg {
	padding: 0
}

.ly-zxxg .title-name-conter:after {
	content: "";
	display: block;
	height: 2px;
	width: 30px;
	transition: all 0.3s ease-out;
	background-color: #36d9cb;
	margin-top: 8px;
}

.ly-zxxg:hover .title-name-conter:after {
	width: 100%
}

.do-678yv .do-middle-center img {
	width: 35%;
}

.do-time, .do-tags {
	font-size: 14px;
}

.do-element-list-ul a:hover {
	color: #36d9cb;
}

.do-element-media-li a:hover { (
	color: #36d9cb;
	)
}

.ly-zxbk .do-element-media-content.md ul li {
	padding: 12px;
	padding-bottom: 24px;
}

.do-678yr .do-middle-center img {
	width: 35%;
}

.do-678yk .do-element-media-conter {
	margin: 10px 0px 10px 0px;
}

.do-678yk .do-middle-center img {
	width: 19%;
}

.do-678yk .do-title .title {
	font-size: 18px;
	line-height: 1.50em;
	text-align: center;
}

.do-678yk .do-title .des {
	font-size: 14px;
	line-height: 1.50em;
	text-align: center;
}

.ly-tzxg {
	padding: 0
}

.ly-tzxg .title-name-conter:after {
	content: "";
	display: block;
	height: 2px;
	width: 30px;
	transition: all 0.3s ease-out;
	background-color: #36d9cb;
	margin-top: 8px;
}

.ly-tzxg:hover .title-name-conter:after {
	width: 100%
}

.do-67coi .do-middle-center img {
	width: 35%;
}

.do-67coi .do-title .title {
	font-size: 16px;
	line-height: 1.50em;
	text-align: left;
}

.do-67coi .do-title .des {
	font-size: 13px;
	line-height: 1.50em;
	text-align: left;
}

.ly-tuwen .do-element-media-ul li:nth-child(1) {
	border-bottom: 1px solid #dbd6d6;
}

.ly-hzxg .title-name-conter:after {
	content: "";
	display: block;
	height: 2px;
	width: 30px;
	transition: all 0.3s ease-out;
	background-color: #36d9cb;
	margin: auto;
	margin-top: 8px;
}

.ly-hzxg:hover .title-name-conter:after {
	width: 100%
}

.do-67iiq .do-middle-center img {
	width: 58%;
}

.ly-form .do-form-group {
	background-color: rgba(0, 0, 0, 0);
}

.ly-form input, .ly-form textarea {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: 1px solid;
	border-radius: 0px;
}

.do-bg-blue4, .do-pagination.do-bg-blue4 ul>.active>a {
	border-radius: 0px;
}

.ly-form #origin_btn_33167130-d900-412d-9815-f5e40c97e261 {
	border: none;
}

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white
	{
	background-image:
		url(http://bk.image.styleweb.com.cn/2016/12/5/3917_iwbtnzbd.png?imageView2/0/w/390);
	background-size: 100%;
}

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white
	{
	background-image:
		url(http://bk.image.styleweb.com.cn/2016/12/5/3917_iwbtnzbj.png?imageView2/0/w/390);
	background-size: 100%;
}

.swiper-button-next, .swiper-button-prev {
	width: 33px;
	height: 33px;
}

.do-swiper .swiper-button-next, .do-swiper .swiper-button-prev {
	background-color: rgba(0, 0, 0, 0);
}

.swiper-button-prev:hover, .swiper-button-next:hover {
	background-color: rgba(0, 0, 0, 0);
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: rgb(54, 217, 203);
}

.bdshare-button-style0-16 {
	margin-top: 15px;
}

.do-bg-blue4, .do-pagination.do-bg-blue4 ul>.active>a {
	background-color: #36d9cb !important;
}

.do-text-67iii .do-element-general {
	margin: 0px 0px -20px 0px;
}

.do-6g0oo .do-element-share-content .do-share-icon {
	font-size: 25px;
}

.do-6g0oo .do-element-share-content .do-share-title {
	color: rgb(67, 71, 72);
}

.do-6g0oo .do-element-share-content .do-share-title {
	font-size: 16px;
}

.do-6g0oo .do-element-share-content .do-share-li {
	margin-right: 7px;
}

.do-67ii9 .do-element-forms .do-form-item {
	width: 100%;
}

body .do-developers, .do-developers {
	color: #666 !important;
	width: 100% !important;
	height: 38px !important;
}

body .do-developers a, .do-developers a {
	color: #666 !important;
	display: inline-block !important;
}

body .do-developers a:hover, .do-developers a:hover {
	color: #000 !important;
}

body .do-developers, .do-developers {
	display: block !important;
	border-top: 1px solid #ecebeb !important;
	background: #f3f3f3 !important;
	padding: 12px !important;
	text-align: center !important;
	font-size: 13px !important;
	line-height: 100% !important;
	opacity: 1 !important;
	text-indent: 0 !important
}

body .do-developers i, .do-developers i {
	font-size: 13px !important;
	vertical-align: middle;
	position: relative;
	top: -1px
}

body .do-developers *, .do-developers * {
	opacity: 1 !important;
	text-indent: 0 !important;
	display: inline-block !important;
}